@model MuvekkilTakipSistemi.Models.User
@{
	Layout = "_Layout4";
	ViewData["Title"] = "Ayarlar";
}
<div class="container">
    @if (TempData["sonuc"] != null)
    {
        <p class="rounded @TempData["class"]" style="margin-top:5px; text-align:center; color:white;">@TempData["sonuc"]</p>
    }
    <div class="row-cols-lg-6">
        <form id="myForm" enctype="multipart/form-data" method="post" style="margin:10px;">
          <div class="form-group">
                @if (ViewData["sonuc"] != null)
                {
                    <h3>@ViewData["sonuc"] </h3>
                }
              <h4>Profil Resmi Değiştir</h4>
              <hr />
          </div>
            <div class="form-group">
                <input type="file" name="Profil" id="Profil" class="form-group" />
            </div>
            <div class="form-group">
                <h4>Kişisel Bilgiler</h4>
                <hr />
            </div>
            <div class="form-group">
                <label for="Tcno">Tc No: </label><br />
                <input type="Text" name="Tcno" id="Tcno" class="form-group" disabled value="@Model.Tcno" />
            </div>
            <div class="form-group">
                <label for="Tcno">Baro Sicil No: </label><br />
                <input type="Text" name="BaroSicilNo" id="BaroSicilNo" class="form-group" disabled value="@Model.BaroSicilNo" />
            </div>
            <div class="form-group">
                <label for="Adsoyad">Ad Soyad: </label><br />
                <input type="Text" name="Adsoyad" id="Adsoyad" class="form-group" disabled value="@Model.Adsoyad" />
            </div>
            <div class="form-group">
                <h4>Şifre Değiştir</h4>
                <hr />
            </div>
            <div class="form-group">
                <label for="Pass">Yeni Şifre: </label><br />
                <input type="password" name="Pass" id="Pass" class="form-group" />
            </div>
            <div class="form-group">
                <label for="PassR">Yeni Şifre Tekrar: </label><br />
                <input type="password" name="PassR" id="PassR" class="form-group" />
            </div>
            <input type="submit" value="Kaydet" class="btn btn-primary"/>
        </form>
   </div>
</div>
@section Scripts
           {
    <script type="text/javascript" src="~/js/SettingsControl.js"></script>
    <script>
        setBackgroundImage('#LoginArea', '@ViewData["bg"]');
    </script>
}