@model MuvekkilTakipSistemi.Models.ControlModels.DefaultModels


@{
	ViewData["Title"] = "Concat";
}
<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">

        <div class="heading_container">
            <h2>
                Bizimle İletişime Geçin
            </h2>
        </div>
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <div class="@ViewData["Class"] rounded-pill" style="padding: 0px 15px 0 15px;">
                            @if (ViewData["contactvalue"] != null)
                            {
                                <p>@ViewData["contactvalue"]</p>
                            }
                        </div>
                        <div class="contact-form">
                            <form method="post">
                                <div>
                                    <input type="text" placeholder="Adınız Soyadınız" name="Adsoyad" id="Adsoyad" required maxlength="35" autofocus>
                                </div>
                                <div>
                                    <input type="tel" placeholder="Telefon Numaranız örn(5xx xxx xx xx)" name="Telno" id="Telno" required maxlength="10">
                                </div>
                                <div>
                                    <input type="email" placeholder="Email Adresiniz" name="Email" id="Email" required maxlength="50">
                                </div>

                                <div>
                                    <select name="Department" id="Department" required class="form-control rounded-pill border-5 show-tick" style="padding:5px 20px 5px 15px">
                                        <option disabled selected>Departman</option>
                                        @foreach (var item in Model.status)
                                        {
                                            if (item.Id > 2)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }

                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="Subject" id="Subject" placeholder="Konu" maxlength="30" required />
                                </div>
                                <div>
                                    <textarea placeholder="Message" class="input_message" name="Message" id="Message" required></textarea>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn_on-hover" name="Gonder" id="Gonder">
                                        Gönder
                                    </button>
                                </div>
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script>
        setBackgroundImage('#HeroArea', '@Model.settings[0].Banner');
    </script>
}
